# Capítulo 1
## Estrutura de dados e algoritmos

### 1.1. Desempacotar uma sequência em variáveis separadas

In [4]:
p = (4, 5)
x, y = p
x

4

In [5]:
y

5

In [8]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]
name, shares, price, date = data
name

'ACME'

In [9]:
date

(2012, 12, 21)

In [10]:
name, shares, price, (year, mon, day) = data

In [11]:
name

'ACME'

In [12]:
year

2012

In [13]:
mon

12

In [14]:
day

21

In [15]:
p = (4, 5)
x, y, z = p

ValueError: not enough values to unpack (expected 3, got 2)

In [16]:
s = 'Hello'
a, b, c, d, e = s

In [17]:
a

'H'

In [18]:
b

'e'

In [19]:
e

'o'

In [20]:
# Para descartar algum valor utilize uma variável descartavel
data = ['ACME', 50, 91.1, (2012, 12, 21)]
_, shares, price, _ = data
shares

50

In [21]:
price

91.1

In [23]:
_

91.1

## 1.2. Desempacotar elementos de iteráveis de tamanho arbitrário

In [9]:
def drop_first_last(grades):
    first, *middle, last = grades
    return avg(middle)

In [14]:
record = ['Dave', 'dave@exemplo.com', '773-555-1212', '847-555-1212']
name, email, *phone_numbers = record

In [15]:
name

'Dave'

In [16]:
email

'dave@exemplo.com'

In [17]:
phone_numbers

['773-555-1212', '847-555-1212']

In [19]:
records = [
    ('foo', 1, 2),
    ('bar', 'hello'),
    ('foo', 3, 4),
]

In [20]:
def do_foo(x, y):
    print('foo', x, y)

In [21]:
def do_bar(s):
    print('bar', s)

In [22]:
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [23]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *filds, homedir, sh = line.split(':')
uname

'nobody'

In [25]:
homedir

'/var/empty'

In [26]:
sh

'/usr/bin/false'

In [27]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
name, *_, (*_, year) = record
name

'ACME'

In [28]:
year

2012

In [29]:
items = [1, 10, 7, 4, 5, 9]
head, *tail = items
head

1

In [30]:
tail

[10, 7, 4, 5, 9]

In [31]:
def sum(items):
    head, *tail = items
    return head + sum(tail) if tail else head

In [32]:
sum(items)

36

## 1.3. Manter os últimos N itens

In [35]:
from collections import deque

def search(lines, pattern, history = 5):
        previous_lines = deque(maxlen = history)
        for line in lines:
            if pattern in line:
                yield line, previous_lines
            previous_lines.append(line)

# Exemplo de uso em um arquivo
if __name__ == '__main__':
    with open('somefile.txt') as f:
        for line, prevlines in search(f, 'python', 5):
            for pline in prevlines:
                print(pline, end='')
            print(line, end='')
            print('-'*20)

In [43]:
q = deque(maxlen=3)
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [44]:
q.append(4)
q

deque([2, 3, 4])

In [45]:
q.append(5)
q

deque([3, 4, 5])

In [46]:
q = deque()
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [47]:
q.appendleft(4)
q

deque([4, 1, 2, 3])

In [48]:
q.pop()

3

In [49]:
q

deque([4, 1, 2])

In [50]:
q.popleft()

4

## 1.4. Encontrando os N itens maiores ou menores

In [57]:
import heapq

nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums)) # Apresenta [42, 37, 23]
print(heapq.nsmallest(3, nums)) # Apresenta [-4, 1, 2]

[42, 37, 23]
[-4, 1, 2]

In [61]:
portifolio = [
    {'name': 'IBM', 'share': 100, 'price': 91.1},
    {'name': 'AAPL', 'share': 50, 'price': 543.22},
    {'name': 'FB', 'share': 200, 'price': 21.09},
    {'name': 'HPQ', 'share': 35, 'price': 31.75},
    {'name': 'YHOO', 'share': 45, 'price': 16.35},
    {'name': 'ACME', 'share': 75, 'price': 115.65}
]

In [63]:
cheap = heapq.nsmallest(3, portifolio, key=lambda s: s['price'])
expansive = heapq.nlargest(3, portifolio, key=lambda s: s['price'])

In [64]:
print(cheap)
print(expansive)

[{'name': 'YHOO', 'share': 45, 'price': 16.35}, {'name': 'FB', 'share': 200, 'price': 21.09}, {'name': 'HPQ', 'share': 35, 'price': 31.75}]
[{'name': 'AAPL', 'share': 50, 'price': 543.22}, {'name': 'ACME', 'share': 75, 'price': 115.65}, {'name': 'IBM', 'share': 100, 'price': 91.1}]

In [68]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
import heapq
heap = list(nums)
heapq.heapify(heap)
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [69]:
heapq.heappop(heap)

-4

In [70]:
heapq.heappop(heap)

1

In [71]:
heapq.heappop(heap)

2

## 1.5. Implementado uma fila de prioridades